<div class="d-grid gap-2 d-md-flex justify-content-md-center m-5">
<button (click)="onClickCreateCoupon()">Create Coupon</button>
</div>
<div *ngIf="!isCreatingCoupon">
  <div *ngFor="let coupon of couponList">
    <app-coupon-list-item *ngIf="couponToEditId !== coupon.id" [coupon]="coupon"></app-coupon-list-item>
    <app-coupon-input *ngIf="couponToEditId === coupon.id" [coupon]="coupon"></app-coupon-input>
  </div>
</div>
<div>
  <app-coupon-input *ngIf="isCreatingCoupon"></app-coupon-input>
</div>
