<div class="d-grid gap-2 d-md-flex justify-content-md-center"><h3>Register</h3></div>

<div class="d-grid gap-2 col-6 mx-auto">
<form #reg="ngForm">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">First Name</span>
  <input ngModel name="firstName" class="form-control">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Last Name</span>
  <input ngModel name="lastName" class="form-control">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon3">Email</span>
  <input ngModel name="email" class="form-control">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon4">Username</span>
  <input ngModel name="username" class="form-control">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon5">Password</span>
  <input ngModel name="password" type="password" class="form-control">
  </div>
  <input name="orderId" type="hidden" value=1>
  <div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center m-3">
    <div class="mx-2">
      <input ngModel type="radio" id="admin" name="rank" value=1>
      <label for="customer" class="ms-1">Admin</label>
    </div>
    <div class="mx-2">
      <input ngModel type="radio" id="customer" name="rank" value=3>
      <label for="customer" class="ms-1">User</label>
    </div>
    </div>
  </div>
</form>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <button (click)="onClickReg(reg.value)" class="btn btn-primary">Register</button>
<button (click)="onClickToLogin()" class="btn btn-info">Already have an account?</button>
</div>
</div>