<form #reg="ngForm">
  <input ngModel name="firstname" placeholder="first name">
  <input ngModel name="lastname" placeholder="last name">
  <input ngModel name="email" placeholder="email">
  <input ngModel name="username" placeholder="username">
  <input ngModel name="password" placeholder="password" type="password">
  <div>
    <div class="mx-2">
      <input ngModel type="radio" id="admin" name="rank" value=1>
      <label for="customer" class="ms-1">Admin</label>
    </div>
    <div class="mx-2">
      <input ngModel type="radio" id="customer" name="rank" value=3>
      <label for="customer" class="ms-1">User</label>
    </div>
  </div>
  <button (click)="onClickReg(reg.value)" class="btn btn-primary">Register</button>
</form>
<button (click)="onClickToLogin()" class="btn btn-info">Already have an account?</button>
