<div *ngIf="pro !== undefined">
  <div><b>Create a new Price change Request for</b> {{pro.displayName}}</div>
  <div><b>Map price is</b> {{pro.map}}</div>
  <div>{{message}}</div>
  <div><b>sale</b><input type="checkbox" [(ngModel)]="pri.sale"></div>
  <div><b>New Price:</b><input type="number" min="0" [(ngModel)]="pri.newPrice"></div>
  <div><b>Start Date:</b><input type="date" [(ngModel)]="pri.startDate"></div>
  <div><b>End Date:</b><input type="date" [(ngModel)]="pri.endDate"></div>
  <div><b>Coupons</b><input type="number" min="0" [(ngModel)]="pri.couponLeft"></div>
  <div *ngIf="confirmMessage"><b>Are you sure you want to set your sale price below the MAP?</b><button (click)="confirm()">Confirm</button></div>
<div *ngIf="confirmMessage === false"><button (click)="oncancel()">Cancel</button><button (click)="oncreate()">Submit</button></div>
</div>
