<div *ngIf="pro !== undefined">
<div>Create a new Price change Request for {{pro.displayName}}</div>
  <div>{{message}}</div>
<div>sale<input type="checkbox" [(ngModel)]="sale"></div>
<div>New Price:<input type="number" min="0" [(ngModel)]="newPrice"></div>
<div>Start Date:<input type="date" [(ngModel)]="startDate"></div>
<div>End Date:<input type="date" [(ngModel)]="endDate"></div>
<div>Coupons<input type="number" min="0" [(ngModel)]="couponsleft"></div>
<div><button (click)="oncancel()">Cancel</button><button (click)="oncreate()">Submit</button></div>
</div>
