<div class="d-grid gap-2 d-md-flex justify-content-md-center">
<h3>Update AccountBB</h3>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">First Name</span>
<input [(ngModel)]="account.firstName" name="firstName" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon2">Last Name</span>
<input [(ngModel)]="account.lastName" name="lastName" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Email</span>
<input [(ngModel)]="account.email" name="email" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon4">Username</span>
<input [(ngModel)]="account.username" name="username" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon5">Password</span>
<input [(ngModel)]="account.password" name="password" type="password" class="form-control">
</div>

<div *ngIf="userIsAdmin && !isAdminsAccount">
  <div class="mx-2">
    <input [ngModel]="account.rank.toString()"
           (ngModelChange)="onRankChange($event)" type="radio" id="admin" name="rank" value="1">
    <label for="admin" class="ms-1">Admin</label>
  </div>
  <div class="mx-2">
    <input [ngModel]="account.rank.toString()" (ngModelChange)="onRankChange($event)" type="radio" id="shopkeeper" name="rank" value="2">
    <label for="shopkeeper" class="ms-1">Shopkeeper</label>
  </div>
  <div class="mx-2">
    <input [ngModel]="account.rank.toString()" (ngModelChange)="onRankChange($event)" type="radio" id="customer" name="rank" value="3">
    <label for="customer" class="ms-1">Customer</label>
  </div>
</div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <button (click)="onSave()" class="btn btn-info" type="submit">Save</button>
<button *ngIf="!isAdminsAccount" (click)="onDelete()" class="btn btn-danger" type="button">Delete</button>
<button (click)="onCancel()" class="btn btn-warning" type="button">Cancel</button>
</div>
</div>