<div *ngIf="productScreen">
  <div class="d-grid gap-2 d-md-flex justify-content-md-center"><h3>Shopping Page</h3></div>
  <div>{{message}}</div>
  <app-product *ngFor="let pro of productList" [Pro]="pro" ></app-product>
</div>
<!--<app-category-create *ngIf="categoryCreate && rank>1"></app-category-create>-->
<!--<app-category-edit *ngIf="categoryEdit && rank > 1"></app-category-edit>-->
<app-product-create *ngIf="productCreate && rank < 3"></app-product-create>
<app-product-edit *ngIf="productEdit && rank < 3"></app-product-edit>
<app-price-change-create *ngIf="priceCreate && rank < 3"></app-price-change-create>
<app-price-change-edit *ngIf="priceEdit && rank < 3"></app-price-change-edit>

