<div *ngIf="ProductScreen">
<div>Shopping Page</div>
  <div><button (click)="oncanel()">Reture to Main Page</button></div>
  <div><button (click)="oncatcreate()">Create Category</button></div>
  <div><button (click)="onproductcreate()">Create Product</button></div>
  <div>Categories</div>
  <app-category *ngFor="let cat of CatFulllist" [Cat]="cat"></app-category>
  <div>Products</div>
  <app-product *ngFor="let pro of ProductFulllist"[Pro]="pro"></app-product>
</div>
<app-category-create *ngIf="CatCreateScreen "></app-category-create>
<app-category-edit *ngIf="CateditScreen"></app-category-edit>
<app-product-create *ngIf="ProductCreateScreen"></app-product-create>
<app-product-edit *ngIf="ProductEditScreen"></app-product-edit>
<app-price-change-create *ngIf="PriceChangeCreateScreen"></app-price-change-create>
<app-price-change-edit *ngIf="PriceEditScreen"></app-price-change-edit>

