<div *ngIf="productScreen">
  <div style="font-size: xxx-large" class="m-3">Products</div>
  <div>{{message}}</div>
  <div class="d-flex flex-wrap justify-content-start m-3" style="overflow: scroll;gap: 2%;" >
  <app-product *ngFor="let pro of productList" [Pro]="pro" ></app-product>
</div>
<!--<app-category-create *ngIf="categoryCreate && rank>1"></app-category-create>-->
<!--<app-category-edit *ngIf="categoryEdit && rank > 1"></app-category-edit>-->
<app-product-create *ngIf="productCreate && rank < 3"></app-product-create>
<app-product-edit *ngIf="productEdit && rank < 3"></app-product-edit>
<app-price-change-create *ngIf="priceCreate && rank < 3"></app-price-change-create>
<app-price-change-edit *ngIf="priceEdit && rank < 3"></app-price-change-edit>

