<div>Create a new product</div>
<div>{{message}}</div>
<div>Display name:<input [(ngModel)]="displayName"></div>
<div>product name:<input [(ngModel)]="productName"></div>
<div>description:<textarea [(ngModel)]="description"></textarea></div>
<div>Base Price:<input type="number" min="0" [(ngModel)]="basePrice"></div>
<div>Image Url:<input [(ngModel)]="imageUrl"></div>
<div>discontinued:<input type="checkbox" [(ngModel)]="discontinued"></div>
<div>Avaliable On Date:<input type="date" [(ngModel)]="avaliableDate"></div>
<div>weight: <input type="number" min="0" [(ngModel)]="weight"></div>
<div>MAP:<input type="number" min="0" [(ngModel)]="MAP"></div>
<div>Cost to Make:<input type="number" min="0" [(ngModel)]="costtoMake"></div>
<button (click)="oncancel()">Cancel</button><button (click)="onpost()">Submit</button>
