<div>Create a new Product</div>
<div>Add to Category<select name="Add to Category"></select><button>add</button></div>
<div>Display Name:<input></div>
<div>Product Name:<input></div>
<div>Description:<textarea></textarea></div>
<div>Display Name:<input></div>
<div>Base Price:<input type="number" min="0"></div>
<div>Image:<input></div>
<div>Discontinued:<input type="chackbox"></div>
<div>Avaliable On Date:<input type="date"></div>
<div>Weight: <input type="number" min="0"></div>
<div>MAPPrice:<input type="numbe" min="0"></div>
<div>Cost to Make:<input type="number" min="0"></div>
<button (click)="oncancel()">Cancel</button><button>Submit</button>
