<h3>Shopkeeping</h3>
<div>
  <button (click)="onClickProductList()">Product List</button>
  <button (click)="onClickCreateProduct()">Create Product</button>
  <button (click)="onClickCategories()">Manage Categories</button>
  <button (click)="onClickCoupons()">Coupons</button>
</div>
<div>
  <app-main-shopping-page *ngIf="showProductList"></app-main-shopping-page>
  <app-product-create *ngIf="showProductCreate"></app-product-create>
  <div *ngIf="showCategories">
    <app-category-create ></app-category-create>
    <div>categories</div>
    <app-category *ngFor="let cat of fullList" [cat]="cat"></app-category>
  </div>
  <app-coupon-list *ngIf="showCouponList"></app-coupon-list>
</div>

