<h3>Shopkeeping</h3>
<div>
  <button (click)="onClickProductList()">Products</button>
  <button (click)="onClickCreateProduct()">Create Product</button>
  <button (click)="onClickCategories()">Categories</button>
  <button (click)="onClickCoupons()">Coupons</button>
</div>
<div>
  <app-main-shopping-page *ngIf="showProductList"></app-main-shopping-page>
  <app-product-create *ngIf="showProductCreate"></app-product-create>
  <div *ngIf="showCategories">
    <button *ngIf="!isCreatingCategory" (click)="onClickCreateCategory()">Create Category</button>
    <app-category-create *ngIf="isCreatingCategory"></app-category-create>
    <div>categories</div>
    <div *ngFor="let cat of fullList">
      <app-category *ngIf="categoryToEditId !== cat.id" [cat]="cat"></app-category>
      <app-category-edit *ngIf="categoryToEditId === cat.id" [cat]="cat"></app-category-edit>
    </div>
  </div>
  <app-coupon-list *ngIf="showCouponList"></app-coupon-list>
</div>

