<div>Edit a Product</div>
<!--<div>Add to Category<select name="Add to Category">-->
<!--  <option *ngFor="let a of OtherCatList">-->
<!--    {{a.Name}}-->
<!--  </option>-->
<!--</select><button>add</button></div>-->
<!--<div>Remove from Category<select name="Remove from Category">-->
<!--  <option *ngFor="let r of CurrentCatList">-->
<!--    {{r.Name}}-->
<!--  </option>-->
<!--</select><button>add</button></div>-->
<div>Display Name:<input  [(ngModel)]="Product.displayName"></div>
<div>Product Name:<input [(ngModel)]="productName"></div>
<div>Description:<textarea [(ngModel)]="description"></textarea></div>
<div>Base Price:<input type="number" min="0"  [(ngModel)]="price"></div>
<div>Image:<input  [(ngModel)]="imageUrl"></div>
<div>Discontinued:<input type="checkbox" [checked]="Product.discontinued" [(ngModel)]="discontinued"></div>
<div>Avaliable On Date:<input type="date"  [(ngModel)]="dateAvailable"></div>
<div>Weight: <input type="number" min="0"  [(ngModel)]="weight"></div>
<div>MAPPrice:<input type="numbe" min="0"  [(ngModel)]="map"></div>
<div>Cost to Make:<input type="number" min="0" [(ngModel)]="costToMake"></div>
<div><button (click)="oncancel()">Cancel</button><button (click)="onsubmit()">Submit</button></div>
