
    <div class="d-grid gap-2 d-md-flex justify-content-md-center"><h3>Edit a product</h3></div>
<div class="d-grid gap-2 col-6 mx-auto">
<div>{{message}}</div>
    <div><b>Display name:</b><input  [(ngModel)]="product.displayName"></div>
    <div><b>Product name:</b><input [(ngModel)]="product.productName"></div>
    <div><b>Description:</b><textarea [(ngModel)]="product.description"></textarea></div>
    <div><b>Base Price:</b><input type="number" min="0"  [(ngModel)]="product.price"></div>
    <div><b>Image:</b><input  [(ngModel)]="product.imageUrl"></div>
    <div><b>Discontinued:</b><input type="checkbox" [checked]="product.discontinued" [(ngModel)]="product.discontinued"></div>
    <div><b>Available On Date:</b><input type="date"  [(ngModel)]="product.dateAvailable"></div>
    <div><b>Weight:</b><input type="number" min="0"  [(ngModel)]="product.weight"></div>
    <div><b>MAP:</b><input type="number" min="0"  [(ngModel)]="product.map"></div>
    <div><b>Cost to Make:</b><input type="number" min="0" [(ngModel)]="product.costToMake"></div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <div *ngIf="confirmMessage">Are you sure you want to set your price below the MAP price?<button (click)="confirm()">Confirm</button></div>
<div *ngIf="confirmMessage === false"><button (click)="oncancel()">Cancel</button><button (click)="onsubmit(product)">Submit</button></div>
</div>
</div>