<div>Edit a product</div>
<div>{{message}}</div>
<div>Display name:<input  [(ngModel)]="product.displayName"></div>
<div>product name:<input [(ngModel)]="product.productName"></div>
<div>description:<textarea [(ngModel)]="product.description"></textarea></div>
<div>Base Price:<input type="number" min="0"  [(ngModel)]="product.price"></div>
<div>Image:<input  [(ngModel)]="product.imageUrl"></div>
<div>discontinued:<input type="checkbox" [checked]="product.discontinued" [(ngModel)]="product.discontinued"></div>
<div>Avaliable On Date:<input type="date"  [(ngModel)]="product.dateAvailable"></div>
<div>weight: <input type="number" min="0"  [(ngModel)]="product.weight"></div>
<div>MAP:<input type="numbe" min="0"  [(ngModel)]="product.map"></div>
<div>Cost to Make:<input type="number" min="0" [(ngModel)]="product.costToMake"></div>
<div *ngIf="confirmMessage">Are you sure you want to set your price below the MAP price?<button (click)="confirm()">Confirm</button></div>
<div *ngIf="confirmMessage === false"><button (click)="oncancel()">Cancel</button><button (click)="onsubmit(product)">Submit</button></div>
