
<app-main-page></app-main-page>

<!--&lt;!&ndash;Todo Not logged in&ndash;&gt;-->
<!--<div *ngIf="!account">-->
<!--  <div *ngIf="errorMsg">{{errorMsg}}</div>-->
<!--  <app-login *ngIf="!isRegistering"></app-login>-->
<!--  <app-register *ngIf="isRegistering"></app-register>-->
<!--</div>-->

<!--&lt;!&ndash;Todo If logged in&ndash;&gt;-->
<!--<div *ngIf="account">-->
<!--&lt;!&ndash;  Todo conditional rendering for productList, cart, myAccount, pastOrders, etc.&ndash;&gt;-->
<!--  <app-account-input></app-account-input>-->
<!--</div>-->


