<div>Create new category</div>
<div>name:<input [(ngModel)]="name"></div>
<div> Add product:
<select name="Aviable Products" (change)="onproductselect($event)">
  <option [value]="undefined">Add to category</option>
  <option *ngFor="let p of otherProduct" [value]="p.id">
    {{p.displayName}}
  </option>
</select>
  <button (click)="onadd()">Add</button>
</div>
<div *ngFor="let l of productList">{{l.displayName}}<button (click)="ondelete(l)">X</button></div>
<button (click)="oncancel()">Cancel</button>
<button (click)="onsubmit()">Submit</button>
