<h3>Create Account</h3>
<form #create="ngForm">
  <div *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</div>
  <input ngModel name="firstName" placeholder="first name">
  <input ngModel name="lastName" placeholder="last name">
  <input ngModel name="email" placeholder="email">
  <input ngModel name="username" placeholder="username">
  <input ngModel name="password" placeholder="password" type="password">
  <div>
    <div class="mx-2">
      <input ngModel type="radio" id="admin" name="rank" value="1">
      <label for="admin" class="ms-1">Admin</label>
    </div>
    <div class="mx-2">
      <input ngModel type="radio" id="shopkeeper" name="rank" value="2">
      <label for="shopkeeper" class="ms-1">Shopkeeper</label>
    </div>
    <div class="mx-2">
      <input ngModel type="radio" id="customer" name="rank" value="3">
      <label for="customer" class="ms-1">Customer</label>
    </div>
  </div>
  <button (click)="onClickCreate(create.value)" class="btn btn-primary">Create</button>
  <button (click)="onClickCancel()" class="btn btn-info">Cancel</button>
</form>

