<div>Edit a Price Change Request</div>
<div>Sale<input type="checkbox" [checked]="PriceChange.sale" [(ngModel)]="PriceChange.sale"></div>
<div>New Price:<input type="number" min="0" [(ngModel)]="PriceChange.newPrice"></div>
<div>Start Date:<input type="date" [(ngModel)]="PriceChange.startDate"></div>
<div>End Date:<input type="date" [(ngModel)]="PriceChange.endDate"></div>
<div>Coupons<input type="number" min="0" [(ngModel)]="PriceChange.couponLeft"></div>
<div><button (click)="oncancel()">Cancel</button><button (click)="onedit()">Submit</button></div>
