<div *ngIf="errMsg" class="alert-danger alert">{{errMsg}}</div>
<h5>{{createOrUpdateText}} Coupon</h5>
<input [(ngModel)]="coupon.code" placeholder="Coupon code">
<input [ngModel]="coupon.startDate | date:'yyyy-MM-dd'" (ngModelChange)="coupon.startDate = $event" type="date" name="startDate"/>
<input [ngModel]="coupon.endDate | date:'yyyy-MM-dd'" (ngModelChange)="coupon.endDate = $event" type="date" name="endDate"/>
<div>

  <div class="mx-2">
    <input [(ngModel)]="couponType" id="amount" name="couponType" type="radio" value="amount">
    <label for="amount" class="ms-1">Amount</label>
  </div>
  <div class="mx-2">
    <input [(ngModel)]="couponType" type="radio" id="percentage" name="couponType" value="percentage">
    <label for="percentage" class="ms-1">Percentage</label>
  </div>
</div>
<input *ngIf="couponType === 'amount'" [(ngModel)]="coupon.amount" placeholder="amount" type="number">
<input *ngIf="couponType === 'percentage'" [(ngModel)]="coupon.percentage" placeholder="percentage" type="number">
<input [(ngModel)]="coupon.useLimit" type="number">

<button (click)="onClickSubmit()">{{createOrUpdateText}}</button>
<button (click)="onClickCancel()">Cancel</button>

