<div *ngIf="!showCheckout">
<h1>Cart</h1>

<app-cart-product
  *ngFor="let cartProduct of cartProductList"
[cartProduct]="cartProduct"
(cartChange)="updateTotals()">
</app-cart-product>

<p>Sub Total: {{this.subTotal}} </p>
<p>Discount: {{this.discount}}</p>
<p>Shipping: {{this.shipping}} </p>
<p>Tax: {{this.tax}} </p>
<p>Total: {{this.total}}</p>

<div>
  <h6>Enter Coupon Code</h6>
  <input [(ngModel)]="couponCode">
  <button (click)="onClickApplyCoupon()">Apply</button>
  <div *ngIf="validCoupon">Coupon Applied</div>
  <div *ngIf="couponErrorMessage" class="alert alert-danger">{{couponErrorMessage}}</div>
</div>

<button (click)="onCheckout()">Submit order</button>
</div>

<app-checkout *ngIf="showCheckout"></app-checkout>
