<div *ngIf="Pro !== undefined" style="border-style: solid">
  <div>Product</div>
  <div>{{Pro.DisplayName}}</div>
  <div>{{Pro.OriginalOwnerUsername}}</div>
  <div><img src="{{img}}" (error)="onimageerror()"></div>
  <div>{{Pro.Description}}</div>
  <div>{{Pro.Discontinued}}</div>
  <div>{{Pro.AvaliableOnDate}}</div>
  <div>{{Pro.BasePrice}}</div>
  <div><button (click)="onProductEdit()">Edit Product</button></div>
  <div><button (click)="onPriceChangeCreateScreen()">Price Change Create</button></div>
  <div>List of Price Change Request:</div>
  <app-price-change-request *ngFor="let pri of Pro.PriceChangeRequest"[Pri]="pri"></app-price-change-request>
</div>
