
<div class="d-flex justify-content-between mb-3 p-3" style="background-color: #073B4C">
  <div (click)="onClickShopName()" role="button" class="btn btn-info fw-bold">The Candy Shoppe</div>
  <button *ngIf="userRank < 4" (click)="onClickMyAccount()" role="button" class="btn btn-info fw-bold">My Account</button>
  <button *ngIf="userRank === 1" (click)="onClickManageAccounts()" role="button" class="btn btn-info fw-bold">Manage Accounts</button>
  <button *ngIf="userRank < 3" (click)="onClickKeepShop()" role="button" class="btn btn-info fw-bold">Keep Shop</button>
  <button (click)="onClickCart()" role="button" class="btn btn-info fw-bold">Cart</button>
  <div>
    <button *ngIf="userRank === 4" (click)="onClickLogin()" role="button" class="btn btn-info fw-bold">Login</button>
    <button *ngIf="userRank < 4" (click)="onClickLogout()" role="button" class="btn btn-info fw-bold">Logout</button>
  </div>
</div>
