/* You can add global styles to this file, and also import other style files */
.product {
  /*border-style: solid;*/
  /*background-color: #118AB2;*/
  border-radius: 12px;
  border: solid 1px #118ab2;
}

.category {
  border-style: solid;
  background-color: #06D6A0;
}

.cat-pills {
  background-color: #ef476f;
  color: #EEE;
}

.price-change-request {
  border: solid 1px lightgrey;
  border-radius: 6px;
}

.price-change-btn {
  background-color: #ffd166;
}

.delete-btn {
  background-color: #ef476f;
}

.product-shopkeep-div {
  border-left: solid 1px #118ab2;
}
