<div class="m-3">
  <div><b>Code:</b> {{coupon.code}}</div>
  <div><b>Good thru:</b> {{coupon.startDate | date}} - {{coupon.endDate | date}}</div>
  <div><b>Use Limit:</b> {{coupon.useLimit}}</div>
  <div *ngIf="coupon.amount"><b>Amount off:</b> ${{coupon.amount}}</div>
  <div *ngIf="coupon.percentage"><b>Percentage off:</b> {{coupon.percentage}}</div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-start m-2">
  <button (click)="onClickEdit()">Edit</button>
  <button (click)="onClickDelete(coupon.id)">Delete</button>

</div>
</div>